services:
  db:
    image: postgres:17.5
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
      
  backend:
    build: ./backend
    depends_on:
      - db
    env_file: .env
    ports:
     - "8000:8000"

  # frontend:
  #   build: ./frontend
  #   depends_on:
  #     - backend
  #   ports:
  #     - "3000:3000"

volumes:
  db_data:
    