:root{
  --color-bg: #f6f4f8;
  --color-white: #ffffff;
  --color-light-grey: #f0f0f0;
  --color-middle-grey: #9e9e9e;
  --color-dark-grey: #5e5e5e;
  --color-primary: #f3d216;
  --color-primary-darker: #e2b50c;
  --color-text: #080e1b;
  --color-muted-text: #2d2e31;
  --color-focus: #8f3feb;
  --radius: 0px;
}